body {
    margin: 0;
    padding: 0;
    background-image: url('/Users/nwokolo/cbfacademy/full-stack-javascript-assessment-ijenwok1/packages/frontend/src/styleTemplate.css');
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    color: #fff; /* Set text color to white*/
  }
  
  button {
    background-color: #d3d3d3; /* Grey background color */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #808080; /* Darker grey color on hover */
  }